<h1 class="mt-4">Enter Grade</h1>
<form action="/" method="POST">
    <input type="text" placeholder="Subject" name="Subject">
    <input type="text" placeholder="Grade" name="Grade">
    <button type="submit">Submit</button>
  </form>
