<html>
  <head>
    <title>Enter Grade</title>
  </head>
  <body>
    <h3>Welcome <%= user %></h3>
    <form action="/app1" method="POST">  
      Subject: <input type="text" name="subject">  <br>  
      Grade: <input type="text" name="grade">  
      <input type="submit" value="Submit">  
      </form>  
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>