<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user %></p>
<p class="lead mb-3">Enter a new grade at <a href="http://localhost:3001/app1">This Link</a></p>
<a href="/auth/logout" class="btn btn-secondary">Log out</a>