<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user %></p>
<a href="http://localhost:3001" class="btn btn-secondary">Enter new grade</a><br>
<a href="http://localhost:3002" class="btn btn-secondary">View grade</a><br>
<a href="/auth/logout" class="btn btn-secondary">Log out</a>