<h1 class="mt-4">Admin Board</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br>
<label class="lead mb-3">
<% for (var sess_id in arry) { %>
    <p>Current Active Sessions:</p><br>
    <p>SessionID: <%= sess_id %></p>
    <p>UserID: <%= arry[sess_id]['passport']['user'] %></p><br>
     
    <form class="btn" action="/del_session" method="POST"  >
        <button type="submit" class="btn btn-block">Revoke Session</button>
        <input hidden="true" type="text" name="sessionID" value="<%= sess_id%>">
    </form>
    <br>
<% } %>
</label>

<a href="/auth/logout" class="btn btn-secondary">Logout</a>
