<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user %></p>
<p class="lead mb-3">Highest: <%= max %></p>
<p class="lead mb-3">Lowest: <%= min %></p>
<p class="lead mb-3">Average: <%= avg %></p>
<a href="/auth/logout" class="btn btn-secondary">Enter new grade</a>
